{% extends "layout.html" %}
{% load static %}

{% block title %}
  About
{% endblock title %}
{% block content %}

    <div class ="container">
      <span><h1>ABOUT OUR SYSTEM</h1></span>
      <p class="align-right">By <em> Owuri Hanifat, David Baba Madaki </em></p>
      <p> It all started some 5 months ago when my partner David Baba Madaki and i Owuri Hanifat decided to come up with a <strong>solid waste management (SWM) system</strong> as our project topic.</p>
      <p>The systems website was designed using the Python Django framework, as well as the Django API, and its composed of 5 major routes:
        <ul>
          <li><b>Home Page/ Dashboard</b></li>
          <li><b>About Page.</b></li>
          <li><b>Register Page.</b></li>
          <li><b>Login page.</b></li>
          <li><b>Admin Page</b></li>
        </ul>
      </p>
    </div>
    <div class="container">
        <span><h2>About page!!</h2></span>
        <p>
           The <strong> solid waste management</strong> system was designed to tackle the issue of improper waste disposal, and waste of useful resources.
        </p>
        <p><em>useful resources</em> in this case means such waste which could be reused but are rather thrown away.
        </p>
        <p><ul>
          <li>
           in order to ensure that good quality of waste products are retained for recyling, we decided to develop a SYSTEM, capable of segreagating waste at the sourc level by seperating:
          </li>
        </p>
          <ul>
            <li>metals.</li>
            <li>plastics.</li>
            <li>from others.</li>
          </ul>
        <p><li>
             To prevent pollution resulting from overflowing of waste bin, the system was incorporated with a level sensor.
            </li></p>
       
        <p><li>
             Also, the system was able to optimize resources by conserving power, fuel etc.
            </li>
        </p>
        <p><li>
             and finally, we can hope for a clean and hygienic environment.
            </li>
        </p></ul>
    </div>
    <img src="{% static "image\clean-environment.jpg" %}" />
  
{% endblock content %}
     