{% extends "layout.html" %}

{% block title %}
  About
{% endblock title %}
{% block content %}
    <div class ="container">
      <span><h1>ABOUT OUR SYSTEM</h1></span>
      <p> It all started some 3 months ago when my partner and i decided to come up with a <strong>smart waste management (SWM) system</strong> as our project topic.</p>
      <p>The systems website is composed of 3 routes:
        <ul>
          <li><b>the About Page.</b></li>
          <li><b>the Sign-up Page.</b></li>
          <li><b>the Login page.</b></li>
        </ul>
      </p>
    </div>
    <div id="section">
        <span><h2>About page!!</h2></span>
        <p>
           The <strong>waste management</strong> system was designed to tackle the issue of improper waste disposal, and waste of useful resources.
        </p>
        <p><em>useful resources</em> in this case means such waste which could be reused but are rather thrown away.
        </p>
        <p><ul>
          <li>
           in order to ensure that good quality of waste products are retained for recyling, we decided to develop a SYSTEM, capable of segreagating waste at the sourc level by seperating:
          </li>
        </p>
          <ul>
            <li>metals.</li>
            <li>plastics.</li>
            <li>from others.</li>
          </ul>
       
        <p><li>
             Also, the system was able to optimize resources by conserving power, fuel etc.
            </li>
        </p>
        <p><li>
             and finally, we can hope for a clean and hygienic environment.
            </li>
        </p></ul>
    </div>
{% endblock content %}
     