{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <p><h1>Home</h1></p>

    <!--<p><h2> this the index page</h2></p>
    <ul>
    {% for question in questions %}
        <li><a href="{% url 'question' question.id %}">{{question.question_text}}</a></li>
    {% endfor %}           
    </ul></br>-->
    <ul>
        <li><h1><a href="{% url 'about' %}">About-us</a></h1></li>
        <li><h1><a href="{% url 'register' %}">Sign-up</a></h1></li>
        <li><h1>login</h1></li>
    </ul>
    <img src="C:\Users\Haneefah\Documents\Documents\Web Development\clean-environment.jpg" height= "300 pixels" width="300 pixels">
    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script-->
{% endblock content %}