{% extends 'layout.html' %}

{% load beautify %}

{% block title %}
Register
{% endblock %}


{% block content %}

<div class="container col-6">
	<form name="myForm" method="POST">
		{% csrf_token %}
		{% if form.errors %}
			{{ form.errors }}
		{% endif %}

		{% for field in form %}
		<div class="form-group">
			<label>{{ field.label }}:</label> 
			{{ field|add_class:'form-control'}}
			<!-- <input class="form-control" type="text" required name="username"> -->
		</div>
		{% endfor %}
		<a href="{% url 'index' %}">go to home</a><br>

		<input type="submit" value="Register" class="btn btn-primary">
		<input type="reset" value="Reset" class="btn btn-danger">
	</form>
</div>	
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="form.js"></script>
{% endblock %}